{% extends 'base.html.twig' %}

{% block title %}Nouveau mot{% endblock %}

{% block body %}
    <h1>Nouveau mot</h1>

    {{ form_start(form) }}

    {{ form_row(form.mot) }}

    {{ form_row(form.Valider) }}

    {{ form_end(form) }}

    <a href="{{ path('mot_index') }}">Retour à la liste des mots</a>
{% endblock %}
